@tailwind base;
@tailwind components;
@tailwind utilities;

.lichess-iframe {
  margin-bottom: 2rem;

  /* TODO test other devices */
  width: 414px;
  height: 300px;

  @media (min-width: 600px) {
    width: 600px;
    height: 397px;
  }
}
