@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to left, #f3e2c6, #eee);
}

.lichess-iframe {
  @media (min-width: 636px) {
    width: 600px;
    height: 397px;
  }

  @media (max-width: 635px) {
    width: 200px;
    height: 304px;
  }
}
